# Climate Data Preprocessing

In [20]:
import os
import glob

def unpack_data():

    data_dir = '../data/climate'

# Find all .tar.gz files in the data directory
    tar_files = glob.glob(os.path.join(data_dir, '*.zip'))

# Unpack and remove each .tar.gz file
    for tar_file in tar_files:
        os.system(f'tar -xf {tar_file} -C {data_dir}')
        os.remove(tar_file)

In [21]:
import cdsapi

def data_download(year):
    
    c = cdsapi.Client()
    c.retrieve(
        'insitu-gridded-observations-global-and-regional',
        {
            'origin': 'cru',
            'region': 'global',
            'variable': [
                'precipitation', 'temperature',
            ],
            'statistic': [
                'maximum', 'mean',
            ],
            'time_aggregation': 'monthly',
            'horizontal_aggregation': '0_5_x_0_5',
            'year': f'{year}',
            'version': 'v4.03',
            'format': 'zip',
        },
        f'../data/climate/climate_{year}.zip')
       
    return unpack_data()

In [23]:
start_year = 2001
end_year = 2019

for i in range(start_year, end_year + 1):
    data_download(i)

2023-06-06 14:46:31,422 INFO Welcome to the CDS
2023-06-06 14:46:31,423 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:31,529 INFO Request is completed
2023-06-06 14:46:31,530 INFO Downloading https://download-0017.copernicus-climate.eu/cache-compute-0017/cache/data8/dataset-insitu-gridded-observations-global-and-regional-212601fb-200a-406a-8813-133972b4a848.zip to ../data/climate/climate_2001.zip (3.9M)
2023-06-06 14:46:32,048 INFO Download rate 7.5M/s
2023-06-06 14:46:32,237 INFO Welcome to the CDS
2023-06-06 14:46:32,238 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:32,321 INFO Request is queued
2023-06-06 14:46:33,351 INFO Request is running
2023-06-06 14:46:37,209 INFO Request is completed
2023-06-06 14:46:37,210 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data8/dataset-insitu-gridded-observations-global-and-regional-3de20bff-d7c6-48ff-adba-6d2f89308647.zip to ../data/climate/climate_2002.zip (3.9M)
2023-06-06 14:46:38,043 INFO Download rate 4.7M/s
2023-06-06 14:46:38,232 INFO Welcome to the CDS
2023-06-06 14:46:38,233 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:38,268 INFO Request is queued
2023-06-06 14:46:39,299 INFO Request is running
2023-06-06 14:46:40,827 INFO Request is completed
2023-06-06 14:46:40,842 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data4/dataset-insitu-gridded-observations-global-and-regional-be2f1d18-a3d6-4405-86d8-92f918f15cef.zip to ../data/climate/climate_2003.zip (3.9M)
2023-06-06 14:46:41,546 INFO Download rate 5.9M/s
2023-06-06 14:46:41,762 INFO Welcome to the CDS
2023-06-06 14:46:41,764 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:41,827 INFO Request is queued
2023-06-06 14:46:42,853 INFO Request is running
2023-06-06 14:46:44,390 INFO Request is completed
2023-06-06 14:46:44,392 INFO Downloading https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data8/dataset-insitu-gridded-observations-global-and-regional-3c4add69-5ca4-4719-abda-2ac42eff2b3a.zip to ../data/climate/climate_2004.zip (3.9M)
2023-06-06 14:46:44,880 INFO Download rate 8M/s
2023-06-06 14:46:45,076 INFO Welcome to the CDS
2023-06-06 14:46:45,077 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:45,138 INFO Request is queued
2023-06-06 14:46:46,169 INFO Request is running
2023-06-06 14:46:47,693 INFO Request is completed
2023-06-06 14:46:47,694 INFO Downloading https://download-0021.copernicus-climate.eu/cache-compute-0021/cache/data8/dataset-insitu-gridded-observations-global-and-regional-7b253074-1f39-464a-bdea-db799678d607.zip to ../data/climate/climate_2005.zip (3.9M)
2023-06-06 14:46:48,488 INFO Download rate 4.9M/s
2023-06-06 14:46:48,728 INFO Welcome to the CDS
2023-06-06 14:46:48,731 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:48,799 INFO Request is queued
2023-06-06 14:46:49,828 INFO Request is running
2023-06-06 14:46:51,356 INFO Request is completed
2023-06-06 14:46:51,357 INFO Downloading https://download-0003-clone.copernicus-climate.eu/cache-compute-0003/cache/data4/dataset-insitu-gridded-observations-global-and-regional-1f4133db-8425-4586-ac99-e73ffdecfc32.zip to ../data/climate/climate_2006.zip (3.9M)
2023-06-06 14:46:51,816 INFO Download rate 8.5M/s
2023-06-06 14:46:51,995 INFO Welcome to the CDS
2023-06-06 14:46:51,996 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:52,065 INFO Request is queued
2023-06-06 14:46:53,096 INFO Request is running
2023-06-06 14:46:54,623 INFO Request is completed
2023-06-06 14:46:54,625 INFO Downloading https://download-0011-clone.copernicus-climate.eu/cache-compute-0011/cache/data4/dataset-insitu-gridded-observations-global-and-regional-196ae852-803e-4a5e-934d-ce981892cca6.zip to ../data/climate/climate_2007.zip (3.9M)
2023-06-06 14:46:55,150 INFO Download rate 7.4M/s
2023-06-06 14:46:55,314 INFO Welcome to the CDS
2023-06-06 14:46:55,315 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:55,344 INFO Request is queued
2023-06-06 14:46:56,375 INFO Request is running
2023-06-06 14:46:57,901 INFO Request is completed
2023-06-06 14:46:57,903 INFO Downloading https://download-0016.copernicus-climate.eu/cache-compute-0016/cache/data7/dataset-insitu-gridded-observations-global-and-regional-c856fed3-98c0-4c8d-bff0-e386a718e575.zip to ../data/climate/climate_2008.zip (3.9M)
2023-06-06 14:46:58,324 INFO Download rate 9.2M/s
2023-06-06 14:46:58,698 INFO Welcome to the CDS
2023-06-06 14:46:58,705 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:46:58,754 INFO Request is queued
2023-06-06 14:46:59,794 INFO Request is running
2023-06-06 14:47:01,323 INFO Request is completed
2023-06-06 14:47:01,324 INFO Downloading https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data7/dataset-insitu-gridded-observations-global-and-regional-c4e702bf-624e-4b0b-87f8-e93cd5092601.zip to ../data/climate/climate_2009.zip (3.9M)
2023-06-06 14:47:01,642 INFO Download rate 12.2M/s
2023-06-06 14:47:01,811 INFO Welcome to the CDS
2023-06-06 14:47:01,812 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:01,886 INFO Request is queued
2023-06-06 14:47:02,914 INFO Request is running
2023-06-06 14:47:06,721 INFO Request is completed
2023-06-06 14:47:06,723 INFO Downloading https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data3/dataset-insitu-gridded-observations-global-and-regional-dd9a5e19-3d2f-44d4-972b-75514a6a2671.zip to ../data/climate/climate_2010.zip (3.9M)
2023-06-06 14:47:07,220 INFO Download rate 7.8M/s
2023-06-06 14:47:07,394 INFO Welcome to the CDS
2023-06-06 14:47:07,395 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:07,525 INFO Request is queued
2023-06-06 14:47:08,552 INFO Request is running
2023-06-06 14:47:10,080 INFO Request is completed
2023-06-06 14:47:10,082 INFO Downloading https://download-0004-clone.copernicus-climate.eu/cache-compute-0004/cache/data1/dataset-insitu-gridded-observations-global-and-regional-6ee47129-7db7-41e1-9a99-f80a129bf5f2.zip to ../data/climate/climate_2011.zip (3.9M)
2023-06-06 14:47:10,735 INFO Download rate 5.9M/s
2023-06-06 14:47:10,980 INFO Welcome to the CDS
2023-06-06 14:47:10,981 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:11,024 INFO Request is queued
2023-06-06 14:47:12,063 INFO Request is running
2023-06-06 14:47:13,589 INFO Request is completed
2023-06-06 14:47:13,592 INFO Downloading https://download-0016.copernicus-climate.eu/cache-compute-0016/cache/data0/dataset-insitu-gridded-observations-global-and-regional-5a5deaab-4352-4a7f-a71b-69da686a4acf.zip to ../data/climate/climate_2012.zip (3.9M)
2023-06-06 14:47:14,117 INFO Download rate 7.4M/s
2023-06-06 14:47:14,429 INFO Welcome to the CDS
2023-06-06 14:47:14,431 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:14,530 INFO Request is queued
2023-06-06 14:47:15,556 INFO Request is running
2023-06-06 14:47:17,090 INFO Request is completed
2023-06-06 14:47:17,091 INFO Downloading https://download-0017.copernicus-climate.eu/cache-compute-0017/cache/data9/dataset-insitu-gridded-observations-global-and-regional-e195b885-71b3-4ac2-83ac-b2825a8e4ad6.zip to ../data/climate/climate_2013.zip (3.9M)
2023-06-06 14:47:17,593 INFO Download rate 7.7M/s
2023-06-06 14:47:17,801 INFO Welcome to the CDS
2023-06-06 14:47:17,805 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:17,869 INFO Request is queued
2023-06-06 14:47:18,899 INFO Request is running
2023-06-06 14:47:20,428 INFO Request is completed
2023-06-06 14:47:20,430 INFO Downloading https://download-0021.copernicus-climate.eu/cache-compute-0021/cache/data1/dataset-insitu-gridded-observations-global-and-regional-39748ee0-3b03-472a-835c-3a66793496ce.zip to ../data/climate/climate_2014.zip (3.9M)
2023-06-06 14:47:20,947 INFO Download rate 7.5M/s
2023-06-06 14:47:21,134 INFO Welcome to the CDS
2023-06-06 14:47:21,135 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:21,203 INFO Request is queued
2023-06-06 14:47:22,227 INFO Request is running
2023-06-06 14:47:23,753 INFO Request is completed
2023-06-06 14:47:23,754 INFO Downloading https://download-0021.copernicus-climate.eu/cache-compute-0021/cache/data7/dataset-insitu-gridded-observations-global-and-regional-37bf9a63-3d1d-4566-9a08-b0acaedafed1.zip to ../data/climate/climate_2015.zip (3.9M)
2023-06-06 14:47:24,265 INFO Download rate 7.6M/s
2023-06-06 14:47:24,505 INFO Welcome to the CDS
2023-06-06 14:47:24,505 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:24,552 INFO Request is queued
2023-06-06 14:47:25,582 INFO Request is running
2023-06-06 14:47:29,382 INFO Request is completed
2023-06-06 14:47:29,383 INFO Downloading https://download-0004-clone.copernicus-climate.eu/cache-compute-0004/cache/data1/dataset-insitu-gridded-observations-global-and-regional-334a193b-f65f-41d4-856e-97d3e6bfcef8.zip to ../data/climate/climate_2016.zip (3.9M)
2023-06-06 14:47:29,761 INFO Download rate 10.2M/s
2023-06-06 14:47:29,933 INFO Welcome to the CDS
2023-06-06 14:47:29,934 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:29,984 INFO Request is queued
2023-06-06 14:47:31,015 INFO Request is running
2023-06-06 14:47:32,543 INFO Request is completed
2023-06-06 14:47:32,545 INFO Downloading https://download-0019.copernicus-climate.eu/cache-compute-0019/cache/data7/dataset-insitu-gridded-observations-global-and-regional-5f2e8bac-d4cd-4073-88b4-919d5a8ecff8.zip to ../data/climate/climate_2017.zip (3.8M)
2023-06-06 14:47:33,013 INFO Download rate 8.3M/s
2023-06-06 14:47:33,194 INFO Welcome to the CDS
2023-06-06 14:47:33,195 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:33,247 INFO Request is queued
2023-06-06 14:47:34,276 INFO Request is running
2023-06-06 14:47:35,802 INFO Request is completed
2023-06-06 14:47:35,803 INFO Downloading https://download-0002-clone.copernicus-climate.eu/cache-compute-0002/cache/data1/dataset-insitu-gridded-observations-global-and-regional-8042f94d-4fa7-4a71-a29b-9ba25d809632.zip to ../data/climate/climate_2018.zip (3.8M)
2023-06-06 14:47:36,256 INFO Download rate 8.5M/s
2023-06-06 14:47:36,534 INFO Welcome to the CDS
2023-06-06 14:47:36,538 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-06 14:47:36,617 INFO Request is queued
2023-06-06 14:47:37,641 INFO Request is running
2023-06-06 14:47:39,164 INFO Request is completed
2023-06-06 14:47:39,165 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data3/dataset-insitu-gridded-observations-global-and-regional-41794e24-33f7-4111-8f6c-b1ce59564f9a.zip to ../data/climate/climate_2019.zip (3.8M)
2023-06-06 14:47:39,684 INFO Download rate 7.4M/s

In [76]:
import xarray as xr
import pandas as pd

def climate_preprocessing(file_path):
    frame = xr.open_dataset(file_path, engine='netcdf4').to_dataframe()
    frame.reset_index(inplace=True)
    frame['month'] = frame['time'].dt.month
    frame['year'] = frame['time'].dt.year
    frame.drop('time', inplace=True, axis=1)  
    frame = frame[(frame['lat']>=32.75) & (frame['lat']<=52) & (frame['lon']>=-10.25) & (frame['lon']<=30) & (frame['month']==7)]
    return frame

In [77]:
result = climate_preprocessing(f'../data/climate/CRU_mean_temperature_mon_0.5x0.5_global_{2001}_v4.03.nc')
result.head()

           lon    lat  tas  month  year
1677485 -10.25  32.75  NaN      7  2001
1677486 -10.25  33.25  NaN      7  2001
1677487 -10.25  33.75  NaN      7  2001
1677488 -10.25  34.25  NaN      7  2001
1677489 -10.25  34.75  NaN      7  2001

In [78]:
def merge_years(climate_var, data_dir):
    dfs = []
    for file_name in os.listdir(data_dir):
        if file_name.endswith('.nc') and climate_var in file_name:
            file_path = os.path.join(data_dir, file_name)
            df = climate_preprocessing(file_path)
            dfs.append(df)
    final_df = pd.concat(dfs, ignore_index=True)
    return final_df

In [79]:
data = merge_years('CRU_mean_temperature', '../data/climate')
data[data['year']==2001]

         lon    lat        tas  month  year
18954 -10.25  32.75        NaN      7  2001
18955 -10.25  33.25        NaN      7  2001
18956 -10.25  33.75        NaN      7  2001
18957 -10.25  34.25        NaN      7  2001
18958 -10.25  34.75        NaN      7  2001
...      ...    ...        ...    ...   ...
22108  29.75  49.75  22.600000      7  2001
22109  29.75  50.25  22.900000      7  2001
22110  29.75  50.75  22.700001      7  2001
22111  29.75  51.25  22.900000      7  2001
22112  29.75  51.75  22.400000      7  2001

[3159 rows x 5 columns]

In [80]:
data_dir = '../data/climate'

df_mean_temperature = merge_years('CRU_mean_temperature', data_dir)
df_maximum_temperature = merge_years('CRU_maximum_temperature', data_dir)
df_total_precipitation = merge_years('CRU_total_precipitation', data_dir)

In [81]:
df_mean_temperature.head()

     lon    lat  tas  month  year
0 -10.25  32.75  NaN      7  2007
1 -10.25  33.25  NaN      7  2007
2 -10.25  33.75  NaN      7  2007
3 -10.25  34.25  NaN      7  2007
4 -10.25  34.75  NaN      7  2007

In [82]:
df_all = df_mean_temperature.copy()
df_all.drop('tas', inplace=True, axis=1)
df_all = pd.merge(df_all, df_mean_temperature, on=['lon','lat','month','year'])
df_all = pd.merge(df_all, df_maximum_temperature, on=['lon','lat','month','year'])
df_all = pd.merge(df_all, df_total_precipitation, on=['lon','lat','month','year'])
df_all

         lon    lat  month  year        tas  tasmax         pr
0     -10.25  32.75      7  2007        NaN     NaN        NaN
1     -10.25  33.25      7  2007        NaN     NaN        NaN
2     -10.25  33.75      7  2007        NaN     NaN        NaN
3     -10.25  34.25      7  2007        NaN     NaN        NaN
4     -10.25  34.75      7  2007        NaN     NaN        NaN
...      ...    ...    ...   ...        ...     ...        ...
60016  29.75  49.75      7  2015  21.200001    27.0  51.100002
60017  29.75  50.25      7  2015  21.400000    26.9  54.900002
60018  29.75  50.75      7  2015  21.100000    26.6  57.400002
60019  29.75  51.25      7  2015  20.800001    26.4  61.000000
60020  29.75  51.75      7  2015  20.200001    26.1  67.599998

[60021 rows x 7 columns]

In [98]:
df_all['constant'] = 0.25
df_all_bis = df_all.copy()
df_all_bis['lon'] = df_all_bis['lon'] + df_all_bis['constant']
df_all_tris = df_all.copy()
df_all_tris['lat'] = df_all_tris['lat'] + df_all_tris['constant']
df_all_quatris = df_all.copy()
df_all_quatris['lon'] = df_all_quatris['lon'] + df_all_tris['constant']
df_all_quatris['lat'] = df_all_quatris['lat'] + df_all_tris['constant']

dfs = [df_all, df_all_bis, df_all_tris, df_all_quatris]

df_final = pd.concat(dfs, ignore_index=True)
df_final = df_final.drop(['constant'], axis=1)
df_final = df_final[df_final.lon != -10.25]
df_final = df_final[df_final.lat != 32.75]
df_final = df_final.sort_values(['year','lon','lat'])
df_final = df_final.reset_index()
df_final = df_final.drop(['index'], axis=1)
df_final

         lon    lat  month  year        tas     tasmax         pr
0      -10.0  33.00      7  2001        NaN        NaN        NaN
1      -10.0  33.25      7  2001        NaN        NaN        NaN
2      -10.0  33.50      7  2001        NaN        NaN        NaN
3      -10.0  33.75      7  2001        NaN        NaN        NaN
4      -10.0  34.00      7  2001        NaN        NaN        NaN
...      ...    ...    ...   ...        ...        ...        ...
235538  30.0  51.00      7  2019  19.200001  24.300001  72.099998
235539  30.0  51.25      7  2019  18.900000  24.100000  77.400002
235540  30.0  51.50      7  2019  18.900000  24.100000  77.400002
235541  30.0  51.75      7  2019  18.500000  23.900000  88.300003
235542  30.0  52.00      7  2019  18.500000  23.900000  88.300003

[235543 rows x 7 columns]

In [95]:
df_final.to_csv('../data/climate.csv')